#PLEASE COPY CONTENTS OF FILE 

#oh-my-posh init & motd
oh-my-posh init pwsh --config '~\AppData\Local\oh-my-posh\theme.omp.json' | Invoke-Expression
Write-Host
Write-Host "Welcome $Env:UserName =)"
Write-Host "Have fun with the powershell!"
Write-Host

#####################################################################################
# Import the Chocolatey Profile that contains the necessary code to enable		
# tab-completions to function for `choco`.							
# Be aware that if you are missing these lines from your profile, tab completion	
# for `choco` will not function.									
# See https://ch0.co/tab-completion for details.						
$ChocolateyProfile = "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"		
if (Test-Path($ChocolateyProfile)) {								
  Import-Module "$ChocolateyProfile"								
}														
#####################################################################################

#Aliases

if ($IsWindows) {
  Set-Alias gg git-gui.exe
  Set-Alias g git.exe
}
Set-Alias ll ls
Set-Alias .. back
Set-Alias tt timeTapler
Set-Alias src sourceDir
Set-Alias repo repoDir
Set-Alias fourofour delHistory
Set-Alias intelli intelliSense
Set-Alias c Clear-Host

#go back
function back {
  Set-Location ..
  #Clear-Host
}

#go to timetapler
function timeTapler {
  Set-Location $Env:USERPROFILE\source\TimeTapler
  #Clear-Host
}

#go to source
function sourceDir {
  Set-Location $Env:USERPROFILE\source
  #Clear-Host
}

#go to source/repo
function repoDir {
  Set-Location $Env:USERPROFILE\source\repos
  #Clear-Host
}

#delete session history
function delHistory {
  Clear-History
  #Clear-Host
}

#intellisense
function intelliSense {
  param ([string] $mode)
  
  if ($mode -eq "on") {
    Set-PSReadLineOption -PredictionSource HistoryAndPlugin
  } else {
    Set-PSReadLineOption -PredictionSource None
  }

}
